INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
.deps
.libs

# CMake
build/
build_test/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
*.cbp
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
cmake_config.cmake

# vscode
.vscode/
.cache/